  #header{
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;
    left: 0px;
    top: 0px;
    font-family: Courier;
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    padding-left: 20px;
<<<<<<< HEAD
}

#container{
=======
  }

  #container{
>>>>>>> 87a2cbe54e444c89d06a1b8fdd3ea9818e0dc87d
    position: absolute;
    top: 15%;
    left: 2.5vw;
    right: 2.5vw;
    width: 95vw;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
}

.textbod{
=======
  }
  
  .textbod{
>>>>>>> 87a2cbe54e444c89d06a1b8fdd3ea9818e0dc87d
    background-color: #4444AA;
    width: 72.5vw;
    height: 10.5vw;
    margin: 3.75vw;
    margin-top: .5vw;
    margin-bottom: 1vw;
    display: block;
    padding: 10px;
    color: #EEEEEE;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
<<<<<<< HEAD
}

h1{
=======
  }
  
  h1{
>>>>>>> 87a2cbe54e444c89d06a1b8fdd3ea9818e0dc87d
    border-bottom: 2px solid white;
    display: block;
    width: 98%;
    padding: 5px;
    padding-bottom: 2px;
    margin: auto;
    margin-bottom: 8px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Courier;
<<<<<<< HEAD
}

img{
    width: 12.5vw;
    height: 12.5vw;
}

body{
    overflow: hidden;
    user-select: none;
}

=======
  }

  img{
    width: 12.5vw;
    height: 12.5vw;
  }

  body{
    overflow: hidden;
    user-select: none;
  }
>>>>>>> 87a2cbe54e444c89d06a1b8fdd3ea9818e0dc87d
